.c-bg-primary{
    background-color: #04EA3D !important;
}

.c-bg-linear-gradient-primary {
    /* background: linear-gradient(0deg, #04EA3D, #15A739) !important; */
    background: transparent;
}



.c-text-primary{
    color: #04EA3D !important;
}
.c-border-primary{
    border-color: #04EA3D !important;
}




.h-60px {
    height: 60px;
}
.h-80px {
    height: 80px;
}
.h-100px {
    height: 100px;
}
.h-400px {
    height: 400px;
}
.header-icon {
    position: relative;
}
.cart-counter {
    position: absolute;
    top: -9px;
    right: -15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.label-input-field input,
.label-input-field textarea,
.label-input-field select {
    width: 100%;
    padding: 16px 24px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    outline: 0;
}
.label-input-field label {
    z-index: 1;
}

/* select 2 css */
.select2-container {
    width: auto;
    display: block;
    padding: 14px 24px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 60px;
    right: 10px;
}
.select2-dropdown {
    top: -4px;
    border-color: #e4e4e4;
}
.select2-container--open .select2-dropdown {
    left: -1px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
}
.select2-container--default .select2-selection--single {
    border: none;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #e4e4e4;
}

/* toastr */

#toast-container {
    z-index: 999999;
}

#toast-container > div {
    padding: 15px 25px 15px 50px !important;
    opacity: 1;
    margin-bottom: 1.25rem;
    border-color: transparent;
    -webkit-box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.2),
        0 0.275rem 1.25rem -0.0625rem rgba(249, 250, 251, 0.05) !important;
    box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.2),
        0 0.275rem 1.25rem -0.0625rem rgba(249, 250, 251, 0.05) !important;
    border-radius: 0.3125rem;
}

[dir="rtl"] #toast-container > div {
    direction: rtl;
    background-position: center right 0.9375rem;
    padding: 15px 50px 15px 25px !important;
}

[dir="rtl"] #toast-container.toast-top-left {
    right: 12px;
    left: auto;
}

[dir="rtl"] #toast-container.toast-top-right {
    left: 12px;
    right: auto;
}

[dir="rtl"] #toast-container.toast-bottom-left {
    right: 12px;
    left: auto;
}

[dir="rtl"] #toast-container.toast-bottom-right {
    left: 12px;
    right: auto;
}

[dir="rtl"] #toast-container.toast-top-full-width#toast-container > div,
[dir="rtl"] #toast-container.toast-bottom-full-width#toast-container > div {
    left: 0;
    right: 0;
}

#toast-container > .toast {
    max-width: 100%;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 15px 16px;
    overflow: visible;
}

#toast-container.toast-bottom-full-width > div,
#toast-container.toast-top-full-width > div {
    padding: 15px 50px 15px 50px !important;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0 !important;
}

#toast-container.toast-bottom-full-width > div .toast-close-button,
#toast-container.toast-top-full-width > div .toast-close-button {
    top: 12px !important;
}

html:not([dir="rtl"])
    #toast-container.toast-bottom-full-width
    > div
    .toast-close-button,
html:not([dir="rtl"])
    #toast-container.toast-top-full-width
    > div
    .toast-close-button {
    right: 12px !important;
}

[dir="rtl"] #toast-container.toast-bottom-full-width > div .toast-close-button,
[dir="rtl"] #toast-container.toast-top-full-width > div .toast-close-button {
    left: 12px !important;
}

#toast-container > .toast-info {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='%2303c3ec' d='M256 90c44.3 0 86 17.3 117.4 48.6C404.7 170 422 211.7 422 256s-17.3 86-48.6 117.4C342 404.7 300.3 422 256 422s-86-17.3-117.4-48.6C107.3 342 90 300.3 90 256s17.3-86 48.6-117.4C170 107.3 211.7 90 256 90m0-42C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48z'/%3E%3Cpath fill='%2303c3ec' d='M277 360h-42V235h42v125zm0-166h-42v-42h42v42z'/%3E%3C/svg%3E") !important;
}

#toast-container > .toast-info .toast-close-button {
    background-color: #0d5abf !important;
    -webkit-box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.1),
        0 0.275rem 0.75rem -0.0625rem rgba(249, 250, 251, 0.06) !important;
    box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.1),
        0 0.275rem 0.75rem -0.0625rem rgba(249, 250, 251, 0.06) !important;
}

#toast-container > .toast-error {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='%23ff3e1d' d='M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z'/%3E%3C/svg%3E") !important;
}

#toast-container > .toast-error .toast-close-button {
    background-color: #e03a1d !important;
    -webkit-box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.1),
        0 0.275rem 0.75rem -0.0625rem rgba(249, 250, 251, 0.06) !important;
    box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.1),
        0 0.275rem 0.75rem -0.0625rem rgba(249, 250, 251, 0.06) !important;
}

#toast-container > .toast-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='%2371dd37' d='M186.301 339.893L96 249.461l-32 30.507L186.301 402 448 140.506 416 110z'/%3E%3C/svg%3E") !important;
}

#toast-container > .toast-success .toast-close-button {
    background-color: #20b250 !important;
    -webkit-box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.1),
        0 0.275rem 0.75rem -0.0625rem rgba(249, 250, 251, 0.06) !important;
    box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.1),
        0 0.275rem 0.75rem -0.0625rem rgba(249, 250, 251, 0.06) !important;
}

#toast-container [dir="rtl"] > .toast-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='%2371dd37' d='M96 110l-32 30.5L325.7 402L448 280l-32-30.5l-90.3 90.4L96 110z'/%3E%3C/svg%3E") !important;
}

#toast-container > .toast-warning {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='%23ffab00' d='M32 464h448L256 48 32 464zm248-64h-48v-48h48v48zm0-80h-48v-96h48v96z'/%3E%3C/svg%3E") !important;
    background-size: 24px;
}

#toast-container > .toast-warning .toast-close-button {
    background-color: #fcac00 !important;
    -webkit-box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.1),
        0 0.275rem 0.75rem -0.0625rem rgba(249, 250, 251, 0.06) !important;
    box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.1),
        0 0.275rem 0.75rem -0.0625rem rgba(249, 250, 251, 0.06) !important;
}

#toast-container:not(.toast-bottom-full-width, .toast-top-full-width) > div {
    width: 25rem !important;
}

.toast-progress {
    position: absolute;
    bottom: 0;
    top: auto;
    opacity: 0.2;
    height: 0.1875rem;
    background-color: #212b36;
    border-bottom-right-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
}

[dir="rtl"] .toast-progress {
    left: auto;
    right: 0;
}

.toast-close-button {
    position: absolute;
    top: 0;
    text-shadow: none;
    border-top-right-radius: 0.25rem;
    padding: 0.2rem 0.45rem !important;
    -webkit-transition: all 0.23s ease 0.1s;
    transition: all 0.23s ease 0.1s;
    opacity: 1 !important;
    line-height: 0.98;
}

html:not([dir="rtl"]) .toast-close-button {
    right: 0 !important;
}

[dir="rtl"] .toast-close-button {
    left: -7px !important;
    right: auto !important;
}

@media (max-width: 419.98px) {
    .toast {
        width: 300px !important;
    }
}
#toast-container .toast-close-button {
    font-weight: 300;
    color: #f4f6f8 !important;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.1),
        0 0.275rem 0.75rem -0.0625rem rgba(249, 250, 251, 0.06);
    box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.1),
        0 0.275rem 0.75rem -0.0625rem rgba(249, 250, 251, 0.06);
}

#toast-container > .toast-success,
#toast-container > .toast-success .toast-message a,
#toast-container > .toast-success .toast-message label {
    background-color: #ffffff !important;
    color: #20b250;
}
#toast-container > .toast-error,
#toast-container > .toast-error .toast-message a,
#toast-container > .toast-error .toast-message label {
    background-color: #ffffff !important;
    color: #e03a1d;
}
#toast-container > .toast-info,
#toast-container > .toast-info .toast-message a,
#toast-container > .toast-info .toast-message label {
    background-color: #ffffff !important;
    color: #0d5abf;
}
#toast-container > .toast-warning,
#toast-container > .toast-warning .toast-message a,
#toast-container > .toast-warning .toast-message label {
    background-color: #ffffff !important;
    color: #fcac00;
}
#toast-container > .toast-success .toast-close-button,
#toast-container > .toast-error .toast-close-button,
#toast-container > .toast-info .toast-close-button,
#toast-container > .toast-warning .toast-close-button {
    color: #ffffff !important;
}
/* toastr */

.address-delete-modal {
    max-width: 700px !important;
}

.min-h-400 {
    min-height: 400px !important;
}

.avatar-icon {
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
}

.vertical-product-card .card-btn {
    z-index: 1;
}

@media (min-width: 1199px) and (max-width: 1399.98px) {
    .d-none-1399 {
        display: none !important;
    }
}

.checkout-sidebar {
    position: sticky;
    top: 100px;
}

.grecaptcha-badge {
    z-index: 99999; 
 }

 .scroll-top-btn.active {
    bottom: 65px;
    left: 40px;
}
.object-fit-cover{
    object-fit: cover;
}

[data-bs-theme=light] .clr-scheme .topbar-info-right li a:not(.dropdown-menu a) {
    color: #fff !important
}

.mobile_menu_logo{
    width: 140px;
}
.gshop-navbar  {
    background: #6eb356;
}
.offcanvas_logo{
    width: 220px;
}


.nav-menu-logo-container
{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo img {
    width: 200px;
}
.car-container{
    display: flex;
    gap: 5px;
}
.amount-span{
    position: relative;
    top: 4px;
    left: 5px;
    font-weight: 600;
}


/* // custom home hero  */
.home-hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 40px 0px;
}
.search-location-container{
    display: flex;
    gap: 10px;
}
.home-hero-heading{
    max-width: 700px;
    text-align: center;
    color: white;
    text-transform: capitalize;    
}
.location-input-container,.search-input-container{
    border:2px solid rgb(255, 255, 255);
    border-radius: 8px;
    background: white;
    height: 45px;
    display: flex;
}
.search-location-container input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
}
.location-icon-button,.search-icon-button{
    width: 40px;
    height: 100%;   
   font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.location-input-container input{
    width: 150px;
}
.search-input-container input{

}
.location-input-container{

}
.search-input-container{

}
.location-icon-button{

}
.search-icon-button{
    padding-right: 10px;
}

/* // custom category  */
.category-main-container{
    width: 100%;
    overflow :auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.c-category-card{
    min-width: 180px;
    max-width: 180px;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    text-align: center;
    transition: all .3s;
}
.c-category-card:hover{
    box-shadow: 0px 0px  10px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);    
}

.c-category-card span{
    display: block;
    font-size: 12px;
    color: black;
    font-weight: 500;
    /* margin: 6px 0px; */
}
.c-category-card p{
    font-size: 18px;
    color: #FF0000;
    text-transform: uppercase;
    font-weight: 600;
    margin: 2px 0px 8px;
}
.c-category-card h3{
     font-size: 16px;
     text-transform: uppercase;
     margin: 8px 0px 10px;
}
.c-category-card img{
    width: 100%;
    height: 85px;
    object-fit: contain;
}
.category-card-button-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-category-card a{
    background-color: #FF0000;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    transition: all .3s;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF0000;
    /* transition:all .3s;    */
}
.c-category-card:hover a{
    background-color: white;
    color: #FF0000;
}


/* // policy card  */
.policy-container{
    padding: 50px 120px;
}

.policy-card{
    display: flex;
 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
}
.icon-container{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background-color: #04EA3D;
    color: #000000;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.icon-container::before{
    position:absolute;
    content: '';
    left: 50%;
    top: 65%;
    width: 90%;
    height: 100%;
    clip-path: polygon(50% 60%, 0 0, 100% 0);
    background-color: #04EA3D;
    transform: translateX(-50%);
    z-index: -1;
}

.policy-card-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1px;
}
.policy-card h3{
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
}
.policy-card p{
    font-size: 14px;
    margin:0;
}



/* // horizontal card cutomization  */
.horizontal-product-card{
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    gap: 0;
    transition: transform .2s;
    height: 425px;
}
.horizontal-product-card:hover{
    box-shadow: 0px 0px 10px rgb(0 0 0 / 19%);
    transform: scale(1.03);
}
.horizontal-product-card .product-radio-btn li label {
    padding: 4px 16px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
}

.buynow-content{
    margin: 10px 0px;
}
.horizontal-product-card .card-content .pricing span.h4 {
    font-size: 18px;
}
.horizontal-product-card .card-content .title {
    color: #191d28;
    font-size: 16px;
}
.cart-button{
    background-color: #04ea3d;
    border: 1px solid #04ea3d;
    padding: 4px 20px;
    color: white;
    border-radius: 5px;
    margin-top:10px;
    font-size: 13px !important;
}
.cart-button:hover{
    background-color: white;
     
    color: #1a9d4a !important;
}

.cart-icon{
    font-size: 16px;
    padding-left: 10px;
}



 
.horizontal-product-category-tag-container{
    margin: 10px 0px 15px;
}
.vertical-product-card .thumbnail img{
    width: 170px;
}
.filter-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.filter-category-img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.ca_whatsapp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #04EA3D;
    position:fixed;
    font-size: 30px;
    border: 2px solid #04EA3D;
    color: white;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    transition:all .2s;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.1\2);
}
.ca_whatsapp:hover{
    background-color: white;
    color: #04EA3D;
    transform: scale(1.05);
}

.gshop-footer{
    background-color: #191d28;
}

.horizontal-card-vairant-space{
    height: 35px;
    /* border: 2px solid black; */
}

.featured-product-slider-container{
    max-width: 90%;
    margin: 20px auto;
    /* position: relative; */
}

.featured-swiper-button-next,.featured-swiper-button-prev{
    width: 45px;
    height: 45px;
    background-color:#04ea3d;
    border-radius: 50%;
    padding:15px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    transition: all .3s;
}
.featured-swiper-button-next:hover,.featured-swiper-button-prev:hover{
    background-color:#07d23a;
    transform: scale(1.1) translateY(-50%);
}
.featured-swiper-button-next:active,.featured-swiper-button-prev:active{
    transform: scale(1) translateY(-50%);
}

.featured-swiper-button-next{
    right:  9.5%;
}
.featured-swiper-button-prev{
    left:  9.5%;
}
.home_hero_bg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    z-index: -1;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    z-index: 999999;
}
#preloader .loading-bar {
    width: 100%;
    height: 3px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    background: #f9fafb;
}
#preloader .loading-bar:before {
    content: "";
    width: 35px;
    height: 3px;
    background: #4eb529;
    position: absolute;
    left: -34px;
    -webkit-animation: bluebar 1.5s infinite ease;
    animation: bluebar 1.5s infinite ease;
}
@-webkit-keyframes bluebar {
    50% {
        left: 96px;
    }
}
@keyframes bluebar {
    50% {
        left: 96px;
    }
}

#quickview_modal .modal-body {
    border-radius: 20px;
}